@layer ww-style-library {
  @layer definition, instance;
  @layer definition {
    @layer normal, custom;
    @layer normal {
    }
    @layer custom {
    }
  }
  @layer instance {
    @layer normal, custom;
    @layer normal {
    }
    @layer custom {
    }
  }
}
@layer ww-style-section {
  @layer normal, custom;
  @layer normal {
    @layer atomic, ordered;
    @layer atomic {
      .ww-a-Kx1Omt4gI5aMcV9U {
        height: auto;
        z-index: unset;
        min-height: unset;
        max-height: unset;
        display: flex;
      }
      .ww-a-ToP1y73DpSf7xjcF {
        width: 100%;
        max-width: unset;
        min-width: unset;
        min-height: unset;
        max-height: unset;
      }
    }
    @layer ordered {
      .ww-s-d0 {
        background-color: var(--0fb23398-7e19-4878-943c-6cc4cb22e0c7,#f6b791);
      }
      .ww-s-d0 > .ww-section-element {
        padding: 60px;
      }
      .ww-s-d0 > .ww-section-element.ww-layout {
        display: flex;
        flex-flow: column;
        align-items: center;
      }
      .ww-s-d1 > .ww-section-element {
        padding: 100px 0;
      }
      .ww-s-d1 > .ww-section-element.ww-layout {
        display: flex;
        flex-flow: column;
        align-items: center;
      }
      .ww-s-d2 {
        background-color: var(--57730e5b-3d41-4c65-b5c5-591a2b4f2c6c,#e8f2ff);
      }
      .ww-s-d2 > .ww-section-element {
        padding: 100px 20px;
      }
      .ww-s-d2 > .ww-section-element.ww-layout {
        display: flex;
        flex-flow: column;
        align-items: center;
        row-gap: 20px;
      }
      .ww-s-d4 {
        overflow: hidden;
      }
      .ww-s-d4 > .ww-section-element.ww-layout {
        display: flex;
        flex-flow: column;
        align-items: flex-start;
      }
      .ww-s-d5 {
        overflow: hidden;
      }
      .ww-s-d5 > .ww-section-element.ww-layout {
        display: flex;
        flex-flow: column;
        align-items: flex-start;
      }
    }
  }
  @layer custom {
  }
}
@layer ww-style-element {
  @layer normal, custom;
  @layer normal {
    @layer atomic, ordered;
    @layer atomic {
      .ww-a-CQC-UYJF9-3biM3_ {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: var(--ww-section-root-auto-align, unset);
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-xcvtKf9v4YXjru0H {
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-GY9OD6k0O9NAwLah {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-ojR9yNVv0aSDeAdG {
        margin: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-Uds4CVZOBCUG_xSn {
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-4RoHNZRxGrkSNyJL {
        margin: 0;
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-YyvtQJ1aALxh3-nO {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-11o189YJ-X9gY18t {
        z-index: unset;
        align-self: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-LJSAAJA2gDzWAYve {
        margin: 0;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-zg3fX6ou6kMjzh1R {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-Fl9ul3d7deuE5K65 {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: var(--ww-section-root-auto-align, unset);
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a--MEA_heFTfLU1_2w {
        margin: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-b3CuKZCf5OX6dONX {
        margin: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-GfbQibRQPgXgCmyn {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-rSfTkZoZBS2mhibf {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-mX57v3maAcMbkuVx {
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-oD8b5Gow0Chk0AYK {
        margin: 0;
        padding: 0;
        z-index: unset;
        display: flex;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-BUy5c_7mQD_pnjJN {
        margin: 0;
        padding: 0;
        z-index: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-DLOzJWvCIqlr1ynr {
        margin: 0;
        z-index: unset;
        align-self: var(--ww-section-root-auto-align, unset);
        display: flex;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-UwZcNhn5pQq8yQgY {
        margin: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        width: auto;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-t3qQjPTTZODritiy {
        margin: 0;
        padding: 0;
        z-index: unset;
        display: block;
      }
      .ww-a-KqEK8kr8HF6dDCGs {
        z-index: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-2ew-mtNf67a7wUE0 {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-vLL8B-ybMuvyJF2p {
        margin: 0;
        padding: 0;
        z-index: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-GFcnlayhvXkdpx17 {
        margin: 0;
        padding: 0;
        z-index: unset;
        display: block;
        max-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-4EJ5XMDtCfADOrfC {
        margin: 0;
        padding: 0;
        z-index: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-2elUZrNeFcrb8ddI {
        margin: 0;
        z-index: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-7nVkkW4Sot3X08Ff {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-Ryg85BKhmXi11jk6 {
        margin: 0;
        z-index: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-Ks_fZq89Diodjybo {
        z-index: unset;
        align-self: var(--ww-section-root-auto-align, unset);
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-wepO1Mjw7DgHz3WK {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-qzMQ-YcirvVl1Ta3 {
        margin: 0;
        padding: 0;
        z-index: unset;
        max-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-iTz4K_V6cDfCmWEV {
        margin: 0;
        z-index: unset;
        display: flex;
        width: auto;
        max-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-8_yMkiAXDN57W1kM {
        margin: 0;
        z-index: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-9nS4S3naw0fj5ZAV {
        margin: 0;
        z-index: unset;
        display: flex;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
    }
    @layer ordered {
      .ww-e-d6 {
        display: flex;
        width: 100%;
        max-width: 1112px;
      }
      .ww-e-d6.ww-layout, .ww-e-d6 [data-ww-ls~="d6"] {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        column-gap: 40px;
        flex-wrap: revert-layer;
      }
      @media (max-width: 767px) {
        .ww-e-d6.ww-layout, .ww-e-d6 [data-ww-ls~="d6"] {
          flex-flow: column;
          row-gap: 10px;
        }
      }
      .ww-e-d7 {
        margin: 0;
        font-size: 34px;
        font-family: Space Grotesk, sans-serif;
        line-height: 40px;
        font-weight: 700;
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      .ww-e-d8 {
        width: 80px;
        height: unset;
        aspect-ratio: 1;
        --wwi-ar: 1;
      }
      .ww-e-d9 {
        padding: 20px 0 0;
      }
      .ww-e-d9.ww-layout, .ww-e-d9 [data-ww-ls~="d9"] {
        display: flex;
        align-items: flex-end;
        column-gap: 10px;
      }
      .ww-e-dA {
        margin: 0 0 8px;
        width: 16px;
        height: auto;
        aspect-ratio: unset;
      }
      .ww-e-dD {
        margin: 0 4px;
        width: 10px;
        height: 10px;
        cursor: pointer;
        transition: all 0.3s ease;
      }
      .ww-e-dD:where([data-ww-states~="jk5TuZ"]) {
        transform: scale(1.2);
      }
      .ww-e-dE {
        padding: 24px;
        display: flex;
        width: 100%;
        height: 100%;
        background-color: #000;
        outline: 1px solid;
      }
      .ww-e-dE.ww-layout, .ww-e-dE [data-ww-ls~="dE"] {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
      }
      .ww-e-dF {
        margin: 0;
        font-size: 23px;
        font-family: Space Grotesk, sans-serif;
        font-weight: 700;
        color: #fff;
        white-space-collapse: preserve;
      }
      .ww-e-dG {
        font-size: 16px;
        line-height: 1.6;
        color: #374151;
        white-space-collapse: preserve;
      }
      .ww-e-dH {
        margin: 80px auto;
        padding: 0 24px;
        display: flex;
        max-width: 800px;
      }
      .ww-e-dH.ww-layout, .ww-e-dH [data-ww-ls~="dH"] {
        display: flex;
        flex-flow: column;
        gap: 24px;
      }
      .ww-e-dI {
        margin: 0;
        font-size: 23px;
        font-family: Space Grotesk, sans-serif;
        font-weight: 700;
        color: #fff;
        white-space-collapse: preserve;
      }
      .ww-e-dJ {
        margin: 0;
        font-size: 23px;
        font-family: Space Grotesk, sans-serif;
        font-weight: 700;
        color: #fff;
        white-space-collapse: preserve;
      }
      .ww-e-dK {
        font-size: 16px;
        line-height: 1.6;
        color: #374151;
        white-space-collapse: preserve;
      }
      .ww-e-dL {
        padding: 8px;
        z-index: 1;
        position: absolute;
        top: 24px;
        left: 10px;
        width: 40px;
        height: 40px;
        background-color: #fff;
        cursor: pointer;
        box-shadow: 0 2px 4px #0000001a;
        transition: all 0.2s ease;
        border-radius: 50%;
      }
      .ww-e-dL:where(:hover) {
        box-shadow: 0 4px 6px #00000026;
        transform: translateX(-4px);
      }
      .ww-e-dM {
        font-size: 16px;
        line-height: 1.6;
        color: #374151;
        white-space-collapse: preserve;
      }
      .ww-e-dN {
        padding: 8px;
        z-index: 1;
        position: absolute;
        right: 10px;
        width: 40px;
        height: 40px;
        background-color: #fff;
        cursor: pointer;
        box-shadow: 0 2px 4px #0000001a;
        border-radius: 50%;
      }
      .ww-e-dN:where(:hover) {
        box-shadow: 0 4px 6px #00000026;
        transform: translateX(4px);
      }
      .ww-e-dO {
        width: 24px;
      }
      .ww-e-dP {
        padding: 24px;
        display: flex;
        width: 100%;
        height: 100%;
        background-color: #000;
        outline: 1px solid;
      }
      .ww-e-dP.ww-layout, .ww-e-dP [data-ww-ls~="dP"] {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
      }
      .ww-e-dQ {
        width: 24px;
      }
      .ww-e-dR {
        width: 24px;
      }
      .ww-e-dS {
        display: block;
        position: revert-layer;
        inset: revert-layer;
        width: 100%;
        height: 70px;
      }
      .ww-e-da {
        padding: 40px;
        width: 360px;
        max-width: 400px;
        height: unset;
        aspect-ratio: 1;
        background-color: #fff;
        cursor: pointer;
        box-shadow: 5px 5px #000;
        animation-duration: .5s;
        animation-iteration-count: infinite;
        border: 4px solid;
        outline-offset: 0px;
        border-radius: 10px;
      }
      .ww-e-da:where(:hover) {
        box-shadow: 0 0 #000;
        transform: scale3d(1, 1, 1) translate3d(5px, 5px, 0) rotateX(0) rotateY(0) rotateZ(0);
        outline-offset: 0px;
      }
      .ww-e-da.ww-layout, .ww-e-da [data-ww-ls~="da"] {
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: flex-start;
        row-gap: 6px;
      }
      .ww-e-db {
        width: 100%;
      }
      .ww-e-db.ww-layout, .ww-e-db [data-ww-ls~="db"] {
        display: flex;
        justify-content: space-between;
      }
      .ww-e-dc {
        padding: 8px 16px;
        height: 39px;
        aspect-ratio: unset;
        font-size: 14px;
        font-weight: 600;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        background-color: #0000;
        border: var(--ww-style-border);
        outline: 0 solid;
        border-radius: 100px;
        --ww-text-text-overflow: initial;
      }
      .ww-e-dd {
        font-size: 16px;
        font-family: Space Grotesk, sans-serif;
        font-weight: 400;
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      .ww-e-de {
        width: 250px;
        max-width: 250px;
        min-width: 250px;
        height: 250px;
        aspect-ratio: unset;
        box-shadow: 5px 5px #000;
        border: 4px solid;
        border-radius: 10px;
        --wwi-ar: unset;
      }
      @media (max-width: 767px) {
        .ww-e-de {
          align-self: flex-start;
        }
      }
      .ww-e-df {
        padding: 8px;
        z-index: 1;
        position: absolute;
        right: 10px;
        width: 40px;
        height: 40px;
        background-color: #fff;
        cursor: pointer;
        box-shadow: 0 2px 4px #0000001a;
        border-radius: 50%;
      }
      .ww-e-df:where(:hover) {
        box-shadow: 0 4px 6px #00000026;
        transform: translateX(4px);
      }
      .ww-e-dg {
        width: 24px;
      }
      .ww-e-dh {
        margin: 0 4px;
        width: 10px;
        height: 10px;
        cursor: pointer;
        transition: all 0.3s ease;
      }
      .ww-e-dh:where([data-ww-states~="jk5TuZ"]) {
        transform: scale(1.2);
      }
      .ww-e-di {
        width: 24px;
      }
      .ww-e-dj {
        margin: 0;
        font-size: 23px;
        font-family: Space Grotesk, sans-serif;
        font-weight: 700;
        color: #fff;
        white-space-collapse: preserve;
      }
      .ww-e-dk {
        margin: 0;
        font-size: 23px;
        font-family: Space Grotesk, sans-serif;
        font-weight: 700;
        color: #fff;
        white-space-collapse: preserve;
      }
      .ww-e-dl {
        margin: 0;
        font-size: 23px;
        font-family: Space Grotesk, sans-serif;
        font-weight: 700;
        color: #fff;
        white-space-collapse: preserve;
      }
      .ww-e-dm {
        padding: 24px;
        display: flex;
        width: 100%;
        height: 100%;
        background-color: #000;
        outline: 1px solid;
      }
      .ww-e-dm.ww-layout, .ww-e-dm [data-ww-ls~="dm"] {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
      }
      .ww-e-dn {
        font-size: 16px;
        line-height: 1.6;
        color: #374151;
        white-space-collapse: preserve;
      }
      .ww-e-do {
        font-size: 16px;
        line-height: 1.6;
        color: #374151;
        white-space-collapse: preserve;
      }
      .ww-e-dp {
        padding: 24px;
        display: flex;
        width: 100%;
        height: 100%;
        background-color: #000;
        outline: 1px solid;
      }
      .ww-e-dp.ww-layout, .ww-e-dp [data-ww-ls~="dp"] {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
      }
      .ww-e-dq {
        font-size: 16px;
        line-height: 1.6;
        color: #374151;
        white-space-collapse: preserve;
      }
      .ww-e-dr {
        margin: 80px auto;
        padding: 0 24px;
        display: flex;
        max-width: 800px;
      }
      .ww-e-dr.ww-layout, .ww-e-dr [data-ww-ls~="dr"] {
        display: flex;
        flex-flow: column;
        gap: 24px;
      }
      .ww-e-ds {
        padding: 8px;
        z-index: 1;
        position: absolute;
        top: 24px;
        left: 10px;
        width: 40px;
        height: 40px;
        background-color: #fff;
        cursor: pointer;
        box-shadow: 0 2px 4px #0000001a;
        transition: all 0.2s ease;
        border-radius: 50%;
      }
      .ww-e-ds:where(:hover) {
        box-shadow: 0 4px 6px #00000026;
        transform: translateX(-4px);
      }
      .ww-e-dt {
        width: 24px;
      }
      .ww-e-du {
        padding: 24px;
        display: flex;
        width: 100%;
        height: 100%;
        background-color: #000;
        outline: 1px solid;
      }
      .ww-e-du.ww-layout, .ww-e-du [data-ww-ls~="du"] {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
      }
      .ww-e-dv {
        display: block;
        position: revert-layer;
        inset: revert-layer;
        width: 100%;
        height: 70px;
      }
      .ww-e-dw {
        padding: 24px;
        display: flex;
        width: 100%;
        height: 100%;
        background-color: #000;
        outline: 1px solid;
      }
      .ww-e-dw.ww-layout, .ww-e-dw [data-ww-ls~="dw"] {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
      }
      .ww-e-dx {
        padding: 24px;
        display: flex;
        width: 100%;
        height: 100%;
        background-color: #000;
        outline: 1px solid;
      }
      .ww-e-dx.ww-layout, .ww-e-dx [data-ww-ls~="dx"] {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
      }
      .ww-e-dy {
        display: flex;
        width: 100%;
        max-width: 1112px;
      }
      .ww-e-dy.ww-layout, .ww-e-dy [data-ww-ls~="dy"] {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        column-gap: 20px;
        flex-wrap: revert-layer;
      }
      @media (max-width: 767px) {
        .ww-e-dy.ww-layout, .ww-e-dy [data-ww-ls~="dy"] {
          flex-flow: column;
        }
      }
      .ww-e-dz.ww-layout, .ww-e-dz [data-ww-ls~="dz"] {
        display: flex;
        flex-flow: column;
        row-gap: 10px;
      }
      .ww-e-d10 {
        width: 150px;
        transform: scale3d(1, 1, 1) translate3d(-11px, 0, 0) rotateX(0) rotateY(0) rotateZ(0);
      }
      .ww-e-d11 {
        margin: 0 0 0 6px;
        width: 20px;
      }
      .ww-e-d12 {
        margin: 0 6px 0 0;
        width: 20px;
      }
      .ww-e-d13 {
        transition: border-color 0.2s ease, box-shadow 0.2s ease;
        border-radius: 8px;
      }
      .ww-e-d14 {
        margin: 0 6px 0 0;
        width: 20px;
      }
      .ww-e-d15 {
        margin: 0 0 0 6px;
        width: 20px;
      }
      .ww-e-d16 {
        align-self: center;
        width: 100%;
        flex: 1 0 auto;
        max-width: 1112px;
      }
      .ww-e-d16.ww-layout, .ww-e-d16 [data-ww-ls~="d16"] {
        display: flex;
        column-gap: 20px;
      }
      @media (max-width: 767px) {
        .ww-e-d16.ww-layout, .ww-e-d16 [data-ww-ls~="d16"] {
          flex-flow: column;
          row-gap: 20px;
        }
      }
      .ww-e-d17 {
        align-self: flex-start;
        font-size: 22px;
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      .ww-e-d18 {
        padding: 60px 0 0;
        width: 100%;
        max-width: 1112px;
      }
      @media (max-width: 767px) {
        .ww-e-d18 {
          padding: 60px 20px 20px;
        }
      }
      .ww-e-d18.ww-layout, .ww-e-d18 [data-ww-ls~="d18"] {
        display: flex;
        flex-flow: column;
        align-items: center;
        row-gap: 20px;
      }
      .ww-e-d19 {
        padding: 16px 28px;
        font-size: 20px;
        font-weight: 500;
        color: #fff;
        white-space-collapse: preserve;
        background-color: #000;
        cursor: pointer;
        box-shadow: 0 2px 4px #0000001a;
        transition: all 0.2s ease;
        border: none;
        border-radius: 10px;
        --ww-element-transition: all 0.2s ease;
      }
      .ww-e-d19:where(:hover) {
        background-color: #303030;
        box-shadow: 0 4px 6px #0000001a;
        transform: translateY(-1px);
      }
      .ww-e-d1A {
        align-self: center;
        width: 300px;
        max-width: 300px;
        min-width: 300px;
        height: unset;
        aspect-ratio: 1;
        max-height: 300px;
        min-height: 300px;
        box-shadow: 5px 5px #000;
        border: 4px solid;
        border-radius: 10px;
        --wwi-ar: 1;
      }
      @media (max-width: 767px) {
        .ww-e-d1A {
          margin: 20px 0;
          align-self: flex-start;
        }
      }
      .ww-e-d1A:where(:hover) {
        box-shadow: revert-layer;
        transform: scale3d(1, 1, 1) translate3d(5px, 5px, 0) rotateX(0) rotateY(0) rotateZ(0);
      }
      .ww-e-d1B {
        margin: 0;
        padding: 8px;
        align-self: unset;
        width: 100%;
        flex: 0 1 auto;
        height: 56px;
        font-size: 20px;
        white-space-collapse: preserve;
        background-color: #fff;
        border: 1px solid #e0e0e0;
        border-radius: 10px;
        --ww-text-text-overflow: initial;
        --placeholder-color: #000000ad;
      }
      .ww-e-d1C {
        width: 120px;
        height: 60px;
        opacity: 0.6;
        transition: all 0.3s ease;
        --wwi-of: contain;
      }
      .ww-e-d1F {
        width: 120px;
        height: 60px;
        opacity: 0.6;
        transition: all 0.3s ease;
        --wwi-of: contain;
      }
      .ww-e-d1F:where(:hover) {
        opacity: 1;
      }
      .ww-e-d1H {
        display: block;
        width: 100px;
        height: 60px;
        opacity: 0.8;
        transition: all 0.3s ease;
        --wwi-of: contain;
        --wwi-f: grayscale(100%);
      }
      .ww-e-d1H:where(:hover) {
        opacity: 1;
        transform: scale(1.05);
      }
      .ww-e-d1I {
        width: 100px;
        height: 60px;
        opacity: 0.6;
        transition: all 0.3s ease;
        --wwi-of: contain;
        --wwi-f: grayscale(100%);
      }
      .ww-e-d1J {
        width: 100px;
        height: 60px;
        opacity: 0.6;
        transition: all 0.3s ease;
        --wwi-of: contain;
        --wwi-f: grayscale(100%);
      }
      .ww-e-d1J:where(:hover) {
        opacity: 1;
      }
      .ww-e-d1K {
        width: 100px;
        height: 60px;
        opacity: 0.6;
        transition: all 0.3s ease;
        --wwi-of: contain;
        --wwi-f: grayscale(100%);
      }
      .ww-e-d1L {
        width: 100px;
        height: 60px;
        opacity: 0.6;
        transition: all 0.3s ease;
        --wwi-of: contain;
        --wwi-f: grayscale(100%);
      }
      .ww-e-d1L:where(:hover) {
        opacity: 1;
      }
      .ww-e-d1M {
        width: 100px;
        height: 60px;
        background-image: none;
        opacity: 0.6;
        transition: all 0.3s ease;
        --wwi-of: contain;
        --wwi-f: grayscale(100%);
      }
      .ww-e-d1N {
        align-self: center;
        display: flex;
        width: 100%;
        max-width: 1112px;
      }
      .ww-e-d1N.ww-layout, .ww-e-d1N [data-ww-ls~="d1N"] {
        display: flex;
        flex-flow: wrap;
        justify-content: center;
        align-content: revert-layer;
        gap: 16px;
      }
      .ww-e-d1O {
        align-self: unset;
        flex: 0 1 auto;
        min-width: 100%;
        font-size: 16px;
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      .ww-e-d1P {
        padding: 0;
      }
      .ww-e-d1P.ww-layout, .ww-e-d1P [data-ww-ls~="d1P"] {
        display: flex;
        align-items: flex-end;
        column-gap: 10px;
      }
      .ww-e-d1Q {
        align-self: unset;
        flex: 0 1 auto;
        font-size: 28px;
        font-weight: 700;
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      .ww-e-d1R {
        align-self: flex-end;
        flex: 0 1 auto;
      }
      .ww-e-d1R.ww-layout, .ww-e-d1R [data-ww-ls~="d1R"] {
        display: flex;
        flex-flow: column;
        row-gap: 20px;
      }
      .ww-e-d1U {
        padding: 24px 0;
        overflow: hidden;
        align-self: center;
        display: block;
        position: revert-layer;
        inset: revert-layer;
        width: 100%;
        max-width: 1112px;
        height: 120px;
      }
      .ww-e-d1V.ww-layout, .ww-e-d1V [data-ww-ls~="d1V"] {
        display: flex;
        column-gap: 10px;
      }
      .ww-e-d1W {
        width: 32px;
        min-width: 24px;
      }
      .ww-e-d1X {
        width: 32px;
        min-width: 24px;
      }
      .ww-e-d1Y {
        padding: 20px 0;
        align-self: flex-start;
        font-size: 22px;
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      .ww-e-d1Z {
        display: flex;
        width: 100%;
        max-width: 1112px;
        border: 0 solid;
      }
      @media (max-width: 767px) {
        .ww-e-d1Z {
          padding: 60px 20px 0;
        }
      }
      .ww-e-d1Z.ww-layout, .ww-e-d1Z [data-ww-ls~="d1Z"] {
        display: flex;
        flex-flow: column;
        row-gap: 16px;
      }
      .ww-e-d1a {
        margin: 0 0 40px;
        padding: 0;
        display: grid;
        width: 100%;
        max-width: 1112px;
        border: 0 solid;
      }
      @media (max-width: 767px) {
        .ww-e-d1a {
          padding: 60px 20px 0;
        }
      }
      .ww-e-d1a.ww-layout, .ww-e-d1a [data-ww-ls~="d1a"] {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 24px;
      }
      @media (max-width: 991px) {
        .ww-e-d1a.ww-layout, .ww-e-d1a [data-ww-ls~="d1a"] {
          grid-template-columns: 1fr;
          gap: 24px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-d1a.ww-layout, .ww-e-d1a [data-ww-ls~="d1a"] {
          grid-template-columns: 1fr;
          gap: 16px;
        }
      }
      .ww-e-d1b {
        padding: 20px;
        align-self: unset;
        display: flex;
        width: 100%;
        max-width: 100%;
        height: 100%;
        background-color: #fff;
        cursor: pointer;
        box-shadow: 5px 5px #000;
        border: 4px solid #000;
        border-radius: 10px;
      }
      @media (max-width: 991px) {
        .ww-e-d1b {
          padding: 20px;
          display: flex;
        }
      }
      @media (max-width: 767px) {
        .ww-e-d1b {
          padding: 16px;
          align-self: unset;
          display: flex;
        }
      }
      .ww-e-d1b:where(:hover) {
        box-shadow: revert-layer;
        transform: scale3d(1, 1, 1) translate3d(5px, 5px, 0) rotateX(0) rotateY(0) rotateZ(0);
      }
      .ww-e-d1b.ww-layout, .ww-e-d1b [data-ww-ls~="d1b"] {
        display: flex;
        flex-flow: row;
        justify-content: flex-start;
        align-items: center;
        align-content: revert-layer;
        gap: 12px 16px;
      }
      @media (max-width: 991px) {
        .ww-e-d1b.ww-layout, .ww-e-d1b [data-ww-ls~="d1b"] {
          display: flex;
          flex-flow: row;
          justify-content: flex-start;
          align-items: center;
          align-content: revert-layer;
          gap: 12px 16px;
        }
      }
      @media (max-width: 767px) {
        .ww-e-d1b.ww-layout, .ww-e-d1b [data-ww-ls~="d1b"] {
          display: flex;
          flex-flow: column;
          justify-content: flex-start;
          align-items: flex-start;
          align-content: revert-layer;
          gap: 8px 16px;
        }
      }
      .ww-e-d1c {
        margin: 0;
        font-size: 24px;
        font-family: Space Grotesk, sans-serif;
        line-height: 30px;
        font-weight: 700;
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      @media (max-width: 767px) {
        .ww-e-d1c {
          font-size: 20px;
          line-height: 26px;
        }
      }
      .ww-e-d1d {
        display: none;
        flex: 1 0 auto;
      }
      .ww-e-d1d.ww-layout, .ww-e-d1d [data-ww-ls~="d1d"] {
        display: none;
      }
      .ww-e-d1e {
        align-self: unset;
        display: flex;
        width: 100%;
        flex: 1 1 0%;
        min-width: 0;
      }
      .ww-e-d1e.ww-layout, .ww-e-d1e [data-ww-ls~="d1e"] {
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 6px;
      }
      .ww-e-d1f {
        width: 148px;
        flex: 0 1 auto;
        height: unset;
        aspect-ratio: 1.78;
        border-radius: 10px;
        --wwi-ar: 1.78;
        --wwi-of: cover;
      }
      @media (max-width: 767px) {
        .ww-e-d1f {
          width: 60px;
          flex: 0 0 60px;
          height: 60px;
        }
      }
      .ww-e-d1g {
        padding: 24px;
        display: flex;
        width: 100%;
        height: 100%;
        background-color: #000;
        outline: 1px solid;
      }
      .ww-e-d1g.ww-layout, .ww-e-d1g [data-ww-ls~="d1g"] {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
      }
      .ww-e-d1h {
        padding: 12px 24px;
        align-self: flex-start;
        min-width: 150px;
        font-size: 20px;
        font-weight: 500;
        color: #fff;
        white-space-collapse: preserve;
        background-color: #000;
        cursor: pointer;
        box-shadow: 0 2px 4px #0000001a;
        transition: all 0.2s ease;
        border: none;
        border-radius: 10px;
        --ww-element-transition: all 0.2s ease;
      }
      .ww-e-d1h:where(:hover) {
        background-color: #474747;
        box-shadow: 0 4px 6px #0000001a;
        transform: translateY(-1px);
      }
      .ww-e-d1i {
        padding: 24px;
        display: flex;
        width: 100%;
        height: 100%;
        background-color: #000;
        outline: 1px solid;
      }
      .ww-e-d1i.ww-layout, .ww-e-d1i [data-ww-ls~="d1i"] {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
      }
      .ww-e-d1j {
        padding: 24px;
        display: flex;
        width: 100%;
        height: 100%;
        background-color: #000;
        outline: 1px solid;
      }
      .ww-e-d1j.ww-layout, .ww-e-d1j [data-ww-ls~="d1j"] {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
      }
      .ww-e-d1k {
        padding: 24px;
        display: flex;
        width: 100%;
        height: 100%;
        background-color: #000;
        outline: 1px solid;
      }
      .ww-e-d1k.ww-layout, .ww-e-d1k [data-ww-ls~="d1k"] {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
      }
      .ww-e-d1l {
        padding: 24px;
        display: flex;
        width: 100%;
        height: 100%;
        background-color: #000;
        outline: 1px solid;
      }
      .ww-e-d1l.ww-layout, .ww-e-d1l [data-ww-ls~="d1l"] {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
      }
      .ww-e-d1m {
        margin: 0 0 8px;
        width: 16px;
        height: auto;
        aspect-ratio: unset;
      }
      .ww-e-d1n {
        width: 80px;
        height: unset;
        aspect-ratio: 1;
        --wwi-ar: 1;
      }
      .ww-e-d1o {
        flex: 1 0 auto;
      }
      .ww-e-d1o.ww-layout, .ww-e-d1o [data-ww-ls~="d1o"] {
        display: flex;
        flex-flow: column;
        align-items: flex-start;
      }
      .ww-e-d1p {
        margin: 0;
        font-size: 34px;
        font-family: Space Grotesk, sans-serif;
        line-height: 40px;
        font-weight: 700;
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      .ww-e-d1q {
        align-self: unset;
        flex: 0 1 auto;
        min-width: 100%;
        font-size: 16px;
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      .ww-e-d1r {
        padding: 8px 16px;
        align-self: center;
        height: 39px;
        aspect-ratio: unset;
        font-size: 14px;
        font-weight: 600;
        color: var(--ww-content-ww-text-color);
        white-space-collapse: preserve;
        background-color: #0000;
        border: var(--ww-style-border);
        outline: 0 solid;
        border-radius: 100px;
        --ww-text-text-overflow: initial;
      }
      @media (max-width: 767px) {
        .ww-e-d1r {
          align-self: flex-start;
        }
      }
      .ww-e-d1s {
        padding: 0;
      }
      .ww-e-d1s.ww-layout, .ww-e-d1s [data-ww-ls~="d1s"] {
        display: flex;
        align-items: flex-end;
        column-gap: 10px;
      }
      .ww-e-d1t {
        align-self: unset;
        flex: 0 1 auto;
      }
      .ww-e-d1t.ww-layout, .ww-e-d1t [data-ww-ls~="d1t"] {
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: flex-start;
        row-gap: 6px;
      }
      .ww-e-d1u {
        padding: 20px;
        align-self: unset;
        max-width: 100%;
        background-color: #fff;
        cursor: pointer;
        box-shadow: 5px 5px #000;
        border: 4px solid;
        border-radius: 10px;
      }
      @media (max-width: 767px) {
        .ww-e-d1u {
          align-self: unset;
        }
      }
      .ww-e-d1u:where(:hover) {
        box-shadow: revert-layer;
        transform: scale3d(1, 1, 1) translate3d(5px, 5px, 0) rotateX(0) rotateY(0) rotateZ(0);
      }
      .ww-e-d1u.ww-layout, .ww-e-d1u [data-ww-ls~="d1u"] {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        column-gap: 16px;
      }
      @media (max-width: 767px) {
        .ww-e-d1u.ww-layout, .ww-e-d1u [data-ww-ls~="d1u"] {
          flex-flow: column;
          align-items: flex-start;
          row-gap: 8px;
        }
      }
      .ww-e-d1v {
        align-self: var(--ww-section-root-auto-align, unset);
        width: 100%;
        flex: 0 1 auto;
        max-width: 1112px;
      }
      .ww-e-d1v.ww-layout, .ww-e-d1v [data-ww-ls~="d1v"] {
        display: flex;
        justify-content: flex-start;
      }
      .ww-e-d1w {
        margin: 0 0 8px;
        width: 16px;
        height: auto;
        aspect-ratio: unset;
      }
      .ww-e-d1x {
        padding: 20px 0;
        align-self: flex-start;
        font-size: 22px;
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      .ww-e-d1y {
        width: 32px;
        min-width: 24px;
      }
      .ww-e-d1z {
        width: 32px;
        min-width: 24px;
      }
      .ww-e-d20 {
        width: 32px;
        min-width: 24px;
      }
    }
  }
  @layer custom {
    .ww-e-dS {
      align-items: center;
      justify-content: center;
    }
    .ww-e-dv {
      align-items: center;
      justify-content: center;
    }
    .ww-e-d1H {
      object-fit: contain;
      align-items: center;
      justify-content: center;
    }
    .ww-e-d1U {
      align-items: center;
      justify-content: center;
    }
    .ww-e-d1b {
      box-sizing: border-box;
    }
    .ww-e-d1c {
      word-break: break-word;
    }
    .ww-e-d1f {
      object-fit: cover;
    }
  }
}
@layer ww-style-layout-override {
}
