@layer ww-style-library {
  @layer definition, instance;
  @layer definition {
    @layer normal, custom;
    @layer normal {
    }
    @layer custom {
    }
  }
  @layer instance {
    @layer normal, custom;
    @layer normal {
    }
    @layer custom {
    }
  }
}
@layer ww-style-section {
  @layer normal, custom;
  @layer normal {
    @layer atomic, ordered;
    @layer atomic {
      .ww-a-Kx1Omt4gI5aMcV9U {
        height: auto;
        z-index: unset;
        min-height: unset;
        max-height: unset;
        display: flex;
      }
      .ww-a-ToP1y73DpSf7xjcF {
        width: 100%;
        max-width: unset;
        min-width: unset;
        min-height: unset;
        max-height: unset;
      }
    }
    @layer ordered {
      .ww-s-d3 > .ww-section-element.ww-layout {
        display: flex;
        flex-flow: column;
        align-items: center;
      }
    }
  }
  @layer custom {
  }
}
@layer ww-style-element {
  @layer normal, custom;
  @layer normal {
    @layer atomic, ordered;
    @layer atomic {
      .ww-a-wepO1Mjw7DgHz3WK {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-Ks_fZq89Diodjybo {
        z-index: unset;
        align-self: var(--ww-section-root-auto-align, unset);
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-mX57v3maAcMbkuVx {
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-zg3fX6ou6kMjzh1R {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: flex;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-GY9OD6k0O9NAwLah {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
      }
      .ww-a-Fijzlf8jhln2zwt7 {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
        font-family: var(--ww-default-font-family);
      }
      .ww-a-GfbQibRQPgXgCmyn {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: unset;
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
    }
    @layer ordered {
      .ww-e-dC {
        display: inline-block;
        flex: 1 0 auto;
        font-size: 60px;
        font-family: Space Grotesk, sans-serif;
        font-weight: 700;
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      .ww-e-dD {
        margin: 60px;
        padding: 60px;
        display: flex;
        width: 100%;
        max-width: 1112px;
        background-color: #fff;
        box-shadow: 5px 5px #000;
        border: 4px solid;
        border-radius: 12px;
      }
      .ww-e-dD.ww-layout, .ww-e-dD [data-ww-ls~="dD"] {
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        row-gap: 20px;
      }
      .ww-e-dU {
        margin: 0 0 19px;
        width: 45px;
        cursor: pointer;
      }
      .ww-e-dV {
        width: 100%;
      }
      .ww-e-dV.ww-layout, .ww-e-dV [data-ww-ls~="dV"] {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        column-gap: 20px;
      }
      .ww-e-dW {
        width: 80px;
        height: unset;
        aspect-ratio: 1;
        --wwi-ar: 1;
      }
      .ww-e-dX {
        display: block;
        font-size: 28px;
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      .ww-e-dY {
        display: var(--ww-style-display, none);
        font-size: 20px;
        color: var(--b8065e7d-980b-4ae1-9b66-71c23c085a2a,#3090ff);
        text-decoration: underline;
        white-space-collapse: preserve;
        --ww-text-text-overflow: initial;
      }
      .ww-e-dZ {
        width: 25px;
      }
      .ww-e-da {
        display: var(--ww-style-display, none);
      }
      .ww-e-da.ww-layout, .ww-e-da [data-ww-ls~="da"] {
        display: var(--ww-style-display, none);
        column-gap: var(--ww-content-column-gap-layout-flex, revert-layer);
      }
      .ww-e-d1T {
        display: flex;
        width: 100%;
      }
      .ww-e-d1T.ww-layout, .ww-e-d1T [data-ww-ls~="d1T"] {
        display: flex;
        flex-flow: column;
        row-gap: 20px;
      }
      .ww-e-d1U {
        width: revert-layer;
        border-radius: 6px;
      }
    }
  }
  @layer custom {
  }
}
@layer ww-style-layout-override {
}
